<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>404 page</title>
    </head>
    <body>
        <h1><span class="four">4</span>04 page</h1>

        <style>
            *{ margin: 0; padding: 0; box-sizing: border-box; } body { width:
            100vw; height: 100vh; display: grid; place-items: center;
            font-family: sans-serif; } h1{ color: rgba(255, 68, 0, 0.596);
            font-size: 5em; }
			h1{
				width: 100%;	
				text-align: center;
				background-color: rgba(128, 128, 128, 0.164);
				{{!-- transform: rotate(-50deg); --}}
			}
			.four{
				color: crimson;
				display: inline-block;
				transform : rotate(13deg) translateY(-2px);
				transform-origin: bottom;

			}

        </style>
    </body>
</html>